spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.company.telegramdesk: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
